@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rubik:wght@400;500;700&display=swap');

:root {
  --selected-theme-bgc: var(--yellow-theme-bgc);
  --selected-theme-main-color: var(--yellow-theme-main-color);
  --selected-theme-sub-text-color: var(--yellow-theme-sub-text-color);
  --selected-theme-nav-bgc: var(--yellow-theme-nav-bgc);

  /* primary color yellow */
  --yellow-theme-bgc: #1d1d1d;
  --yellow-theme-main-color: #ffdd40;
  --yellow-theme-sub-text-color: #fff;
  --yellow-theme-nav-bgc: #181818;

  --font-base: 'Roboto Slab', serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--yellow-theme-bgc);
  height: 100%;
}

#root {
  height: 100%;
}
